html
{
    font-family: 'Raleway', sans-serif;
    height: 100%;
}
body
{display:flex
    flex-direction: column
    margin-left: 10%;
    margin-right: 10%;
    
}
header
{ 
    width: 100%;
    background-color:
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
   
}

#logonav
{display:flex;
    justify-content: space-between;
    align-items:stretch;
}

#logo 
{
    display:flex;
    align-self: flex-start;
    padding: 10px;
    margin:10px;
position:absolute;
top:0;
left:0;
}

#logonav img{
    width:80px;
}


#naventete
{
    
    display: flex;
    flex-direction:row;
padding:10px;

}

.hébergement , .activites /*pourquoi la mise en forme des liens marche ici?*/
{
    font-size: 10px;
    text-decoration: none;
   
}
.activites{
    margin-left: 80px;
}



.titre1{
font-size:15px;
font-weight: bold;
}

.titre2{
font-size:small;
font-weight:normal;
}

#rechercher{
    display:flex;
    border: 1px solid #791b1b;
    border-radius: 10px;
    border-color: #F2F2F2;
   
}

.fa-map-marker-alt{
    background-color:#F2F2F2;
    font-size: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
#boutonrechercher{
    color: white;
   
    border-radius: 10px;
    font-size: 11px;
    padding-bottom: 4px;;
}
.filtres
{
    width:75%;
display:flex;
justify-content: space-between;
}

#information{
    display:flex;
    flex-direction: row;
       
}

#blockhebpopu{
    display:flex;
    flex-direction: row;
    justify-content: none;
}

.fa-info-circle{
    margin-right: 20px;
    background: #0065FC;
	color: #FFFFFF;
	border: 3px solid #F2F2F2;
	border-radius: 15px;
}

/*section hebergement marseille*/
#heb
{display:flex;
    flex-direction: column;
    width:70%;
    height: 25%;
   background-color:grey;
   margin:auto;
   border-radius: 10px;
}

#heb_marseille/* titre hebergement marseille*/
{display:flex;
    align-self:baseline;/*pb icicomment mettre intitulé au dessus?*/
    font-size: 12px;
}

#sixblocks{
    display:flex;
    flex-flow: row wrap;
    justify-content:start;
    align-items:center;
   
}

/*cartes "hebergement"*/
.card{
    border-style: solid;
    border-color: aliceblue;
    box-sizing: border-box;
    font-size: 8px;
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content:center;
    align-items: flex;/*utlité ici?*/
    width: 130px;
    height: 150px;
    margin:10px;
    padding: ;/*utilité?*/
    border-radius:10px;
    background-color:white;
    object-fit:contain;/*pb ici*/
}
.card > img{
    border-radius:10px 10px 0 0;
    max-height: 68px;
    object-fit:cover;
    
}
.etoiles{
    font-size: 6px;
}
.intitulecarteheb{
    display: flex;
    flex-direction:column;
    justify-content:flex-end;/*!!!!*/
    align-items:left;
    padding: -20px
    margin: -50px;
}

/*aside (les plus populaires*/

aside{
    width:30%;
    background-color:rgb(0, 255, 128);
    display:flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#entetepopu{
    display: flex;
    justify-content: space-around;
    font-weight: bold;

}


.card2{
    border-style: solid;
    border-color: aliceblue;
    box-sizing: border-box;
    font-size: 8px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content:center;
    align-items: flex;/*utlité ici?*/
    width: 110px;
    height: 10px;
    margin:10px;
    padding: ;/*utilité?*/
    border-radius:10px;
    background-color:rgb(44, 136, 60);
    object-fit: cover/*pb ici*/
    
    }

.card2 > img{
    max-width:100px;
    max-height:100px;
    object-position: top right;/*inutile ici*/
}

.intitulecarteheb2{
    
}

/*section activités à Marseille*/
#titreacti{
    font-size: 12px;
    font-weight: bold;
    width:200px;
}
#activitesamarseille h4{
    margin: 10px 0 10px 10px;/*jouer dessus*/
    padding: 10px;
    font-size: 10px;
}

#activitesamarseille{   
    display:flex;
    flex-direction: row;
    background-color:rgb(79, 126, 89);
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center ;
    width: auto
}  
.colonne{
    display:flex;
    justify-content: center;
}

.cardactigrande{
    width:auto;
    background-color:#F2F2F2;
    border-radius:10px;
    margin:20px 0 20px 0;
    box-shadow: 5px 5px 0 #F2F2F2;
}
.cardactipetite{
    width:auto;
    background-color:#F2F2F2;
    box-shadow: 5px 5px 0 #F2F2F2;
    border-radius: 10px;
    margin:10px 0 10px 0;  /*a corriger ici*/
    
}
.cardactigrande > img{
    border-radius:10px 10px 0 0;
    width:200px;
    height:230px;
    object-fit: cover;
    
}
.cardactipetite > img{
    border-radius:10px 10px 0 0;
    width:200px;
    height:70px;
    object-fit: cover;
}
.intitulecarteactivites{
    font-size:10px;
    font-weight:bold;
    width:100%;
}


/*footer*/
footer{
    width:800px;
    background-color: rgb(247, 249, 250);
    height:150px;
    
}
.basdepage{
    display:flex;
    justify-content: space-between;
    align-items:baseline;
    align-content: space-between;
    

}
.footer{
    font-size:13px;
    display:flex;
    flex-direction:column;
    
}
.footer > p> a{
    text-decoration: none;
}
.gras{
  font-weight: bold;
  
  
}