html
{
    font-family: 'Raleway', sans-serif;
    height: 100%;
}
body
{display:flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    
}
header
{ 
    width: 900px;
    background-color: aqua;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
   
}

#logonav
{display:flex;
    justify-content: space-between;
    align-items:stretch;
    background-color: yellow;

}

#logo 
{
    display:flex;
    align-self: flex-start;
    padding: 10px;
    margin:10px;
position:absolute;
top:0;
left:0;
width:50%;
}


#naventete
{
    display:flex
    align-self: flex-end;
    text-decoration:none;/*marche pas*/
    background-color:pink;
    flex-direction:row;
}

.hébergement , .activités /*pourquoi la mise en forme des liens marche ici?*/
{
    font-size: 10px;
    text-decoration: none;
}



.titre1{
font-size:medium;
font-weight: bold;
}

.titre2{
font-size:small;
font-weight:normal;
}

#rechercher{
    width:260px;
    border: solid;
    border-radius: 10px;
    border-color: rgb(179, 199, 185);
}



#boutonrechercher{
    color: white;
    background-color: rgb(22, 94, 143);
}
.filtres
{
    width:550px;
display:flex;
justify-content: space-between;
}

#information{
    display:flex;
    flex-direction: row;
    
}

#blockhebpopu{
    display:flex;
    flex-direction: row;
    justify-content: none;
}

/*section hebergement marseille*/
#heb
{display:flex;
    width:700px;
    height: 400px;
   background-color:grey;
   margin:auto;
}

#heb_marseille/* titre hebergement marseille*/
{display:flex;
    align-self:baseline;/*pb icicomment mettre intitulé au dessus?*/
    font-size: 12px;
}

#sixblocks{
    display:flex;
    flex-flow: row wrap;
    justify-content:start;
    align-items:center;
   
}

/*cartes "hebergement"*/
.card{
    border-style: solid;
    border-color: aliceblue;
    box-sizing: border-box;
    font-size: 8px;
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content:center;
    align-items: flex;/*utlité ici?*/
    width: 110px;
    height: 150px;
    margin:10px;
    padding: ;/*utilité?*/
    border-radius:10px;
    background-color:rgb(44, 136, 60);
    object-fit:fill;/*pb ici*/
}
.card > img{
    border-radius:10px 10px 0 0;
    object-position: top;/*inutile ici?*/
    height:60px;
    object-fit:fill;
}
.etoiles{
    font-size: 6px;
}
.intitulecarteheb{
    display: flex;
    flex-direction:column;
    justify-content:flex-end;/*!!!!*/
    align-items:left;
    padding: -20px
    margin: -50px;
}

/*aside (les plus populaires*/

aside{
    width:500px;
    background-color:rgb(0, 255, 128);
    display:flex;
    flex-direction: column;
    
}

#entetepopu{
    display: flex;
    justify-content: space-around;

}


.card2{
    border-style: solid;
    border-color: aliceblue;
    box-sizing: border-box;
    font-size: 8px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content:center;
    align-items: flex;/*utlité ici?*/
    width: 110px;
    height: 80px;
    margin:10px;
    padding: ;/*utilité?*/
    border-radius:10px;
    background-color:rgb(44, 136, 60);
    object-fit:fill;/*pb ici*/
    }

.intitulecarteheb2{
    
}

/*section activités à Marseille*/

#dernierblok{/*pourquoi il ne s('aligne pas? conflit avec le flex du body?*/
    height:800px;
    width:900px;
    display:flex;
    background-color:rgb(226, 84, 84);
    flex-wrap: wrap;
    align-items:unset;
}  

#acti{
    font-size: 12px;
    font-weight: bold;
}

.cardactigrande > img{
    border-radius:10px 10px 0 0;
}
.cardactipetite{
    border-radius:10px 10px 0 0;
}
.intitulecarteactivites{
    font-size:10px;
    font-weight: bold;
}

/*footer*/
footer{
    width:800px;
    background-color: rgb(247, 249, 250);
    height:150px;
    
}
.basdepage{
    display:flex;
    justify-content: space-between;
    align-items:baseline;
    align-content: space-between;
    

}
.footer{
    font-size:13px;
    display:flex;
    flex-direction:column;
    text-decoration: none;    /*pourquoi ça marche pas?*/

}
.footer > p> a{
    text-decoration: none;
}
.gras{
  font-weight: bold;
  
  
}