html
{
    font-family: 'Raleway', sans-serif;
    height: 100%;
}
body
{
    margin-left: 10%;
    margin-right: 10%;
    
}
header
{ 
    width: 900px;
    background-color: aqua
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
   
}

#logonav
{display:flex;
    justify-content: space-between;
    align-items:stretch;
    background-color: yellow;

}

#logo 
{
    display:flex;
    align-self: flex-start;
    padding: 10px;
    margin:10px;
position:absolute;
top:0;
left:0;
width:50%;
}


#naventete
{
    display:flex
    align-self: flex-end;
    text-decoration:none;/*marche pas*/
    background-color:pink;
    flex-direction:row;
}



.titre1{
font-size:medium;
font-weight: bold;
}

.titre2{
font-size:small;
font-weight:normal;
}

#rechercher{
    width:260px;
    border: solid;
    border-radius: 10px;
    border-color: rgb(179, 199, 185);
}

 .fas fa-map-marker-alt
{
    color: black;
    background-color:rgb(117, 27, 27)
}
#boutonrechercher{
    color: white;
    background-color: rgb(22, 94, 143);
}
.filtres
{
    width:550px;
display:flex;
justify-content: space-between;
}

#information{
    display:inline-flex;
    flex-direction: row;
}

#blockhebpopu{
    display:flex;
}

/*section hebergement marseille*/
#heb
{
    width:600px;
    height: 800px;
   background-color:rgb(202, 45, 176);
   margin:auto;
}

#heb_marseille{
    font-size: 12px;
}
/*cartes "hebergement"*/
.card{
    box-sizing: border-box;
    font-size: 8px;
    display:flex;
flex-wrap: wrap;
    justify-content: space-between;
    width: 100px;
    margin:0px auto;
    background-color:rgb(44, 136, 60);
}
.etoiles{
    font-size: 6px;
}
.intitulecarteheb{
    display: flex;
    flex-direction:column;
}


#sixblocks{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
/*footer*/
footer{
    width:800px;
    background-color: rgb(247, 249, 250);
    height:150px;
}
.basdepage{
    display:flex;
    justify-content: space-between;
    align-items:baseline;
    align-content: space-between;

}
.footer{
    font-size:13px;
    display:flex;
    flex-direction:column;
    text-decoration: none;    /*pourquoi ça marche pas?*/

}
.gras{
  font-weight: bold;
  
}